body {
    text-align: center;
}
.box{
    height:200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 30px;
    margin: 1.5rem;
    cursor: pointer;
}
.bis-box{
    display: flex;
    justify-content: center;
}
.pink{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.blue{
    background-color: #819ff0;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}